.card {
      margin-bottom: 1rem;
    }


    .card-container {
      position: fixed;
      top: 185px;
      right: 20px;
      z-index: 1000;
    }


    .btn-finalizar {
      width: 100%;
    }
    #produtop, #produtoa, #produton{ margin-left: 450px;
    }

    @media (max-width: 1350px) {
      .navbar-nav {
        display: flex;
        flex-direction: column; 
        align-items: center; 
      }

      .navbar-brand {
        text-align: center; 
      }

      .d-flex {
        flex-direction: column;
        text-align: center; 
        margin-bottom: 10px; /
      }

    
      .btn {
        margin-top: 10px; 
        font-size: 1rem; 
        width: 100%; 
      }}

      @media (max-width: 1105px) {
  .container .row {
    flex-direction: column; 
    align-items: center; 
  }

  .col {
    margin-bottom: 20px; 
    width: 100%; 
  }

  .card {
    width: 100%; 
  }}

  @media (max-width: 811px) {
    .container-fluid .row {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }

  .col-4 {
    width: 100%; 
    margin-bottom: 20px; 
  }

  .text-end, .text-start {
    text-align: center; 
  }

  
  .col-4 p {
    margin: 0;
    padding: 10px 0; /
  }
  
}

@media (max-width: 673px) { 
  #produton, #produtoa, #produtop {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}
